/*
  Criado em: <%= (props.date.getHours() > 9)?(props.date.getHours() ):('0'+props.date.getHours() ) %>:<%= (props.date.getMinutes() > 9)?(props.date.getMinutes() ):('0'+props.date.getMinutes() ) %> de <%= (props.date.getDate() > 9)?(props.date.getDate() ):('0'+props.date.getDate() ) %>/<%= (props.date.getMonth() > 9)?(props.date.getMonth()+1):('0'+ (props.date.getMonth()+1) ) %>/<%= (props.date.getFullYear() > 9)?(props.date.getFullYear() ):('0'+props.date.getFullYear() ) %>
  Criado por: <%= props.userName %>
*/
